body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.module-wrap {
   border-radius: 5px;
   background-color: lightgrey;
   width: 48.5%;
   margin: 5px;
}

/* Create Form, Inputs, textarea, and submit */
.hidden {
   display: none;
}
#create-btn {
   text-align: center;
   margin: 5px;
}
.create-form {
   background-color: lightgrey;
   border-radius: 5px;
   width: 40%;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
}
input[type="text"],
input[type="number"],
input[type="textarea"] {
   width: 100%;
   border: none;
}
input[type="textarea"] {
   background: grey;
   height: 75px;
   resize: vertical;
   overflow-x: auto;
   white-space: nowrap;
}
input[type="submit"] {
   margin-top: 5px;
}
/* .create-form input[type="text"],
.create-form input[type="number"],
.create-form input[type="textarea"] {
   width: 100%;
   border: none;
}
.create-form input[type="textarea"] {
   background: grey;
   height: 75px;
   resize: vertical;
   overflow-x: auto;
   white-space: nowrap;
} */

/* EDIT form  */
.edit-form {
   width: 92%;
   margin: auto;
   margin-bottom: 5px;
   margin-top: 5px;
}
